<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie booking</title>
    <link rel="stylesheet" href="{% static 'booking/css/bootstrap.css' %} ">
    <link rel="stylesheet" href="{% static 'booking/css/style.css' %}">
    <script src="{% static 'booking/js/jquery.js' %}"></script>
</head>
<body>
    {% include 'booking/admin_navbar.html' %}
    {% block adm_bas %}
    {% endblock adm_bas %}

    {% include 'booking/footer.html' %}
    <script src="{% static 'booking/js/popper.js' %}"></script>
    <script src="{% static 'booking/js/bootstrap.js' %}"></script>
</body>
</html>
